.Person{
    width: 60%;
    margin: 16px auto;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px rgb(219, 33, 33);
    padding: 16px;
    text-align: center;
}

@media (min-width: 500px){
    .Person{
        width: 450px;
    }
}